/.vs/*
/.idea/*
/bin/*
/obj/*
/Pompadoc.Front/.vs/*
/Pompadoc.Front/bin/*
/Pompadoc.Front/obj/*
/Pompadoc.Front/.idea*
/Pompadoc.Front/PompadocApp/obj/Debug/*
/Pompadoc.Front/PompadocApp/obj/*
/Pompadoc.Front/PompadocApp/bin/*
/Pompadoc.Front/PompadocApp/obj/*
